<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.tcc_after" >
    <!-- ela pode enviar dados e receber dados externos -->
    <uses-permission android:name="android.permission.INTERNET" /> <!-- desbloquear algumas coisas padrao do android -->
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>

    <application
        android:allowBackup="true"
        android:icon="@drawable/iconlogo_after"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Tccafter"
        android:usesCleartextTraffic="true">

        <!--       TUDO  -->
        <activity
            android:name=".UI.PerfilActivity"
            android:exported="false" />
        <activity
            android:name=".UI.ChoosePerfil"
            android:exported="false" />
        <activity
            android:name=".UI.LoginActivity"
            android:exported="false"/>

        <activity
            android:name=".MainActivity"
            android:exported="false"/>

<!--        ADM-->
        <activity
            android:name=".UI.adm.VerifyCardActivity"
            android:exported="false" />
        <activity
            android:name=".UI.adm.VerificationSolicitationActivity"
            android:exported="false" />


<!--       USUÁRIO  -->
        <activity
            android:name=".UI.user.tickets.buy_tickets.UserBuyTicketTypeActivity"
            android:exported="false" />

        <activity
            android:name=".UI.user.user_register.PhotoUserRegisterActivity"
            android:exported="false" />
        <activity
            android:name=".UI.user.user_register.UserRegisterActivity02"
            android:exported="false" />
        <activity
            android:name=".UI.user.user_register.UserRegisterActivity01"
            android:exported="false" />

        <!--        <activity-->
<!--            android:name=".UI.user.verification.AboutVerificationActivity"-->
<!--            android:exported="false" />-->
<!--        <activity-->
<!--            android:name=".UI.user.verification.RequestVerificationActivity"-->
<!--           android:exported="false"/>-->


        <!--       EMPRESA  -->
        <activity
            android:name=".UI.company.CompanyEventStatisticsActivity"
            android:exported="false" />
        <activity
            android:name=".UI.company.company_register.PhotoCompanyRegisterActivity"
            android:exported="false" />
        <activity
            android:name=".UI.company.CompanyVerificationActivity"
            android:exported="false" />
        <activity
            android:name=".UI.company.CompanyPerfilActivity"
            android:exported="false" />

        <activity
            android:name=".UI.company.company_register.CompanyRegisterPasswordActivity"
            android:exported="false" />
        <activity
            android:name=".UI.company.company_register.CompanyRegisterActivity01"
            android:exported="false" />
        <activity
            android:name=".UI.company.EditPerfilCompanyActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".UI.company.company_register.bank_account.BankAccountRegisterActivity"
            android:exported="false" />

        <!--       EVENTO  -->
        <activity
            android:name=".UI.event.TicketActivity"
            android:exported="false"/>

        <activity
            android:name=".UI.event.EventDescriptionActivity"
            android:exported="false"/>

        <activity
            android:name=".UI.event.EventWarningCreateActivity"
            android:exported="false" />
        <activity
            android:name=".UI.event.EventRegisterActivity"
            android:exported="false"/>

        <activity
            android:name=".UI.event.EventRegisterAllotmentActivity"
            android:exported="false"/>


    </application>

</manifest>