<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.tcc_after" >

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Tccafter" >
        <activity
            android:name=".perfil.PhotoRegisterActivity"
            android:exported="false" />
        <activity
            android:name=".event.RegisterEventActivity"
            android:exported="true" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".user.verification.AboutVerificationActivity"
            android:exported="false" />
        <activity
            android:name=".user.verification.RequestVerificationActivity"
            android:exported="false" />
        <activity
            android:name=".company.company_register.bank_account.BankAccountRegisterActivity"
            android:exported="false" />
        <activity
            android:name=".ChoosePerfil"
            android:exported="false" />
        <activity
            android:name=".company.CompanyVerificationActivity"
            android:exported="false" />
        <activity
            android:name=".user.UserPerfilActivity"
            android:exported="false" />
        <activity
            android:name=".company.CompanyPerfilActivity"
            android:exported="false" />
        <activity
            android:name=".user.user_register.UserRegisterActivity02"
            android:exported="false" />
        <activity
            android:name=".user.user_register.UserRegisterActivity01"
            android:exported="false" />
        <activity
            android:name=".company.company_register.CompanyRegisterPasswordActivity"
            android:exported="false" />
        <activity
            android:name=".company.company_register.CompanyRegisterActivity01"
            android:exported="false" />
        <activity
            android:name=".LoginActivity"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="false" />
    </application>

</manifest>